<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Component.InvokeAsync("Configuracion")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="~/css/taghelper/ui-input.css" rel="stylesheet" />
    <link href="~/css/components/nutdecoration.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="min-h-screen bg-pattern relative overflow-hidden">
        @await Component.InvokeAsync("NutDecoration")
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/application/site.js"></script>
	<script src="~/js/application/components/nutdecoration.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
