USE [master]
GO
/****** Object:  Database [Ecommers]    Script Date: 14-02-2026 12:17:28 ******/
CREATE DATABASE [Ecommers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Ecommers.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecommers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Ecommers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommers]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[ShortDescription] [text] NOT NULL,
	[Description] [text] NOT NULL,
	[Image] [varchar](255) NULL,
	[BgClass] [varchar](255) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ParentId] [bigint] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__Categori__3214EC0734E09EB7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[ShortDescription] [text] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[BasePrice] [decimal](10, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[SKU] [varchar](255) NOT NULL,
	[Name] [varchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CompareAtPrice] [decimal](10, 2) NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[StockQuantity] [bigint] NOT NULL,
	[ManageStock] [bit] NOT NULL,
	[StockStatus] [varchar](50) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterAttributes]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterAttributes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[DataType] [varchar](50) NOT NULL,
	[InputType] [varchar](50) NOT NULL,
	[Unit] [varchar](50) NULL,
	[IsRequired] [bit] NOT NULL,
	[IsFilterable] [bit] NOT NULL,
	[AppliesTo] [varchar](20) NOT NULL,
	[Category] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeValues]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeValues](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AttributeId] [bigint] NOT NULL,
	[ValueString] [varchar](255) NULL,
	[ValueText] [text] NULL,
	[ValueDecimal] [decimal](18, 4) NULL,
	[ValueInt] [int] NULL,
	[ValueBoolean] [bit] NULL,
	[ValueDate] [date] NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_AttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[AttributeId] [bigint] NOT NULL,
	[ValueId] [bigint] NULL,
	[CustomValue] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Url] [varchar](255) NOT NULL,
	[AltText] [varchar](255) NULL,
	[IsPrimary] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[ProductSnapshot] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__OrderIte__3214EC078522FD26] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductsAdministrador]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ProductsAdministrador] AS
SELECT 
    -- Información del Producto
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.Slug,
    p.ShortDescription,
    p.Description,
    p.BasePrice,
    p.IsActive,
    p.CreatedAt,
    p.UpdatedAt,
    
    -- Categoría
    c.Id AS CategoryId,
    c.Name AS CategoryName,
    c.Slug AS CategorySlug,
    
    -- Imagen Principal del Producto
    (SELECT TOP 1 Url 
     FROM ProductImages 
     WHERE ProductId = p.Id AND IsPrimary = 1 
    ) AS MainImageUrl,
    
    -- Conteo de Imágenes
    (SELECT COUNT(*) 
     FROM ProductImages 
     WHERE ProductId = p.Id 
    ) AS TotalImages,
    
    -- Variantes
    (SELECT COUNT(*) 
     FROM ProductVariants 
     WHERE ProductId = p.Id 
    ) AS TotalVariants,
    
    -- Stock Total
    ISNULL((
        SELECT SUM(StockQuantity) 
        FROM ProductVariants 
        WHERE ProductId = p.Id 
    ), 0) AS TotalStock,
    
    -- Precio Mínimo de Variantes
    (SELECT MIN(Price) 
     FROM ProductVariants 
     WHERE ProductId = p.Id 
    ) AS MinVariantPrice,
    
    -- Precio Máximo de Variantes
    (SELECT MAX(Price) 
     FROM ProductVariants 
     WHERE ProductId = p.Id 
    ) AS MaxVariantPrice,
    
    -- Stock Status
    CASE 
        WHEN (SELECT SUM(StockQuantity) FROM ProductVariants WHERE ProductId = p.Id ) = 0 
            THEN 'Sin Stock'
        WHEN (SELECT SUM(StockQuantity) FROM ProductVariants WHERE ProductId = p.Id ) <= 10 
            THEN 'Stock Bajo'
        ELSE 'En Stock'
    END AS StockStatus,
    
    -- Atributos principales
    STUFF((
        SELECT ', ' + ma.Name + ': ' + COALESCE(av.ValueString, pa.CustomValue)
        FROM ProductAttributes pa
        INNER JOIN MasterAttributes ma ON pa.AttributeId = ma.Id
        LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
        WHERE pa.ProductId = p.Id 
          AND pa.IsActive = 1
          AND ma.Id IN (1, 3)
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS MainAttributes,
    
    -- Marca
    (SELECT TOP 1 COALESCE(av.ValueString, pa.CustomValue)
     FROM ProductAttributes pa
     LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
     WHERE pa.ProductId = p.Id 
       AND pa.AttributeId = 1
       AND pa.IsActive = 1
    ) AS Brand,
    
    -- País de Origen
    (SELECT TOP 1 COALESCE(av.ValueString, pa.CustomValue)
     FROM ProductAttributes pa
     LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
     WHERE pa.ProductId = p.Id 
       AND pa.AttributeId = 3
       AND pa.IsActive = 1
    ) AS CountryOfOrigin,
    
    -- SKUs de variantes
    STUFF((
        SELECT TOP 3 ', ' + SKU
        FROM ProductVariants
        WHERE ProductId = p.Id 
        ORDER BY IsDefault DESC, Price ASC
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS VariantSKUs,
    
    -- Variante por defecto
    (SELECT TOP 1 pv.SKU
     FROM ProductVariants pv
     WHERE pv.ProductId = p.Id 
       AND pv.IsDefault = 1 
       AND pv.IsActive = 1
    ) AS DefaultSKU,
    
    -- 🔥 NUEVO: Indica si el producto tiene ventas
    CASE 
        WHEN EXISTS (
            SELECT 1
            FROM ProductVariants pv
            INNER JOIN OrderItems oi ON oi.VariantId = pv.Id
            WHERE pv.ProductId = p.Id
              AND oi.IsActive = 1
              AND oi.DeletedAt IS NULL
        ) THEN 1
        ELSE 0
    END AS HasSales,
    
    -- Estado
    CASE 
        WHEN p.IsActive = 1 THEN 'Activo'
        ELSE 'Inactivo'
    END AS Status,
    
    -- Fechas formateadas
    FORMAT(p.CreatedAt, 'dd/MM/yyyy HH:mm') AS CreatedAtFormatted,
    FORMAT(p.UpdatedAt, 'dd/MM/yyyy HH:mm') AS UpdatedAtFormatted

FROM Products p
INNER JOIN Categories c ON p.CategoryId = c.Id
GO
/****** Object:  Table [dbo].[VariantAttributes]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantAttributes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[AttributeId] [bigint] NOT NULL,
	[ValueId] [bigint] NULL,
	[CustomValue] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_VariantAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantImages]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantImages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[Url] [varchar](255) NOT NULL,
	[AltText] [varchar](255) NULL,
	[IsPrimary] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductVariantImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VariantesEnOferta]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VariantesEnOferta]
AS
SELECT pv.Id AS VariantId, pv.SKU, pv.Name AS VariantName, pv.Price AS PrecioActual, pv.CompareAtPrice AS PrecioOriginal, pv.StockQuantity, pv.StockStatus, pv.IsDefault, pv.CompareAtPrice - pv.Price AS MontoDescuento, CAST(ROUND((pv.CompareAtPrice - pv.Price) 
             / pv.CompareAtPrice * 100, 2) AS DECIMAL(5, 2)) AS PorcentajeDescuento, p.Id AS ProductId, p.Name AS ProductName, p.Slug AS ProductSlug, p.ShortDescription, p.Description, c.Id AS CategoryId, c.Name AS CategoryName, c.Slug AS CategorySlug,
                 (SELECT TOP (1) Url
                 FROM    dbo.ProductImages
                 WHERE (ProductId = p.Id) AND (IsPrimary = 1) AND (IsActive = 1)) AS ProductImageUrl,
                 (SELECT TOP (1) Url
                 FROM    dbo.ProductVariantImages
                 WHERE (VariantId = pv.Id) AND (IsPrimary = 1) AND (IsActive = 1)) AS VariantImageUrl, COALESCE
                 ((SELECT TOP (1) Url
                  FROM    dbo.ProductVariantImages AS ProductVariantImages_1
                  WHERE (VariantId = pv.Id) AND (IsPrimary = 1) AND (IsActive = 1)),
                 (SELECT TOP (1) Url
                 FROM    dbo.ProductImages AS ProductImages_1
                 WHERE (ProductId = p.Id) AND (IsPrimary = 1) AND (IsActive = 1))) AS ImageUrl,
                 (SELECT TOP (1) COALESCE (av.ValueString, CAST(av.ValueInt AS VARCHAR), va.CustomValue) AS Expr1
                 FROM    dbo.VariantAttributes AS va LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON va.ValueId = av.Id
                 WHERE (va.VariantId = pv.Id) AND (va.AttributeId = 10) AND (va.IsActive = 1)) AS PesoNeto,
                 (SELECT TOP (1) COALESCE (av.ValueString, va.CustomValue) AS Expr1
                 FROM    dbo.VariantAttributes AS va LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON va.ValueId = av.Id
                 WHERE (va.VariantId = pv.Id) AND (va.AttributeId = 14) AND (va.IsActive = 1)) AS Tamano, CASE WHEN pv.StockQuantity > 10 THEN 'Disponible' WHEN pv.StockQuantity > 0 AND pv.StockQuantity <= 10 THEN 'Últimas Unidades' ELSE 'Sin Stock' END AS EstadoDisponibilidad,
                 (SELECT TOP (1) COALESCE (av.ValueString, pa.CustomValue) AS Expr1
                 FROM    dbo.ProductAttributes AS pa LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON pa.ValueId = av.Id
                 WHERE (pa.ProductId = p.Id) AND (pa.AttributeId = 1) AND (pa.IsActive = 1)) AS Marca, pv.CreatedAt, pv.UpdatedAt, FORMAT(pv.CreatedAt, 'dd/MM/yyyy') AS FechaCreacion, FORMAT(pv.UpdatedAt, 'dd/MM/yyyy') AS FechaActualizacion
FROM   dbo.ProductVariants AS pv INNER JOIN
             dbo.Products AS p ON pv.ProductId = p.Id INNER JOIN
             dbo.Categories AS c ON p.CategoryId = c.Id
WHERE (pv.CompareAtPrice IS NOT NULL) AND (pv.CompareAtPrice > pv.Price) AND (pv.StockQuantity > 0) AND (pv.StockStatus IN ('in_stock', 'low_stock')) AND (pv.IsActive = 1) AND (pv.DeletedAt IS NULL) AND (p.IsActive = 1) AND (p.DeletedAt IS NULL) AND (c.IsActive = 1) AND 
             (c.DeletedAt IS NULL)
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](255) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[TaxAmount] [decimal](10, 2) NOT NULL,
	[ShippingAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[BillingAddress] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](255) NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[ShippedAt] [datetime] NULL,
	[DeliveredAt] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__Orders__3214EC0715D299CD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductStarMetrics]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProductStarMetrics]
AS
SELECT 
    pv.Id AS VariantId,
    p.Id AS ProductId,
    p.Name AS ProductName,
    pv.Name AS VariantName,
    p.Slug,
    pv.SKU,
    p.CategoryId,
    c.Name AS CategoryName,
    pv.Price,
    CAST(p.Description AS NVARCHAR(MAX)) AS Description,
    pv.IsActive,
    pv.StockStatus,
    pv.StockQuantity,
    
    -- Imagen del producto
    COALESCE(
        (SELECT TOP 1 Url FROM ProductVariantImages WHERE VariantId = pv.Id AND IsPrimary = 1 AND IsActive = 1),
        (SELECT TOP 1 Url FROM ProductImages WHERE ProductId = p.Id AND IsPrimary = 1 AND IsActive = 1)
    ) AS ImageUrl,
    
    pv.CreatedAt,
    
    -- Métricas últimos 90 días
    ISNULL(SUM(CASE 
        WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
        THEN oi.Quantity ELSE 0 END), 0) AS Sales_90_Days,
        
    ISNULL(SUM(CASE 
        WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
        THEN oi.TotalPrice ELSE 0 END), 0) AS Revenue_90_Days,
    
    -- Métricas últimos 30 días
    ISNULL(SUM(CASE 
        WHEN o.CreatedAt >= DATEADD(DAY, -30, GETDATE()) 
        THEN oi.Quantity ELSE 0 END), 0) AS Sales_30_Days,
        
    ISNULL(SUM(CASE 
        WHEN o.CreatedAt >= DATEADD(DAY, -30, GETDATE()) 
        THEN oi.TotalPrice ELSE 0 END), 0) AS Revenue_30_Days,
    
    -- Total histórico
    ISNULL(SUM(oi.Quantity), 0) AS TotalSales,
    ISNULL(SUM(oi.TotalPrice), 0) AS TotalRevenue,
    COUNT(DISTINCT o.Id) AS TotalOrders,
    
    -- Tendencia (comparar últimos 30 vs 30 anteriores)
    CASE 
        WHEN SUM(CASE 
            WHEN o.CreatedAt BETWEEN DATEADD(DAY, -60, GETDATE()) 
            AND DATEADD(DAY, -30, GETDATE()) 
            THEN oi.Quantity ELSE 0 END) > 0
        THEN (
            (CAST(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -30, GETDATE()) 
            THEN oi.Quantity ELSE 0 END) AS DECIMAL(10,2)) - 
            CAST(SUM(CASE WHEN o.CreatedAt BETWEEN DATEADD(DAY, -60, GETDATE()) 
            AND DATEADD(DAY, -30, GETDATE()) 
            THEN oi.Quantity ELSE 0 END) AS DECIMAL(10,2))) / 
            CAST(SUM(CASE WHEN o.CreatedAt BETWEEN DATEADD(DAY, -60, GETDATE()) 
            AND DATEADD(DAY, -30, GETDATE()) 
            THEN oi.Quantity ELSE 0 END) AS DECIMAL(10,2)) * 100
        )
        ELSE 0 
    END AS TrendPercentage,
    
    -- Score ponderado (50% ventas recientes + 30% ingresos + 20% pedidos)
    (
        (ISNULL(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN oi.Quantity ELSE 0 END), 0) * 0.5) +
        (ISNULL(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN oi.TotalPrice ELSE 0 END), 0) / 1000.0 * 0.3) +
        (COUNT(DISTINCT CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN o.Id END) * 0.2)
    ) AS StarScore,
    
    -- Clasificación
    CASE 
        WHEN ISNULL(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN oi.Quantity ELSE 0 END), 0) >= 50 THEN 'Gold Star'
        WHEN ISNULL(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN oi.Quantity ELSE 0 END), 0) >= 20 THEN 'Silver Star'
        WHEN ISNULL(SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) 
            THEN oi.Quantity ELSE 0 END), 0) >= 10 THEN 'Bronze Star'
        ELSE 'Regular'
    END AS StarLevel,
    
    -- Atributos principales concatenados
    STUFF((
        SELECT ', ' + ma.Name + ': ' + COALESCE(av.ValueString, CAST(av.ValueInt AS VARCHAR), va.CustomValue)
        FROM VariantAttributes va
        INNER JOIN MasterAttributes ma ON va.AttributeId = ma.Id
        LEFT JOIN AttributeValues av ON va.ValueId = av.Id
        WHERE va.VariantId = pv.Id 
          AND va.IsActive = 1
          AND ma.Id IN (10, 14, 36) -- Peso, Tamaño, Sabor
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Atributos

FROM ProductVariants pv
INNER JOIN Products p ON pv.ProductId = p.Id
INNER JOIN Categories c ON p.CategoryId = c.Id
LEFT JOIN OrderItems oi ON oi.VariantId = pv.Id AND oi.IsActive = 1 AND oi.DeletedAt IS NULL
LEFT JOIN Orders o ON o.Id = oi.OrderId 
    AND o.Status IN ('processing', 'shipped', 'delivered')
    AND o.IsActive = 1 
    AND o.DeletedAt IS NULL

WHERE 
    pv.IsActive = 1 
    AND pv.DeletedAt IS NULL
    AND p.IsActive = 1 
    AND p.DeletedAt IS NULL

GROUP BY 
    pv.Id,
    p.Id,
    p.Name,
    pv.Name,
    p.Slug,
    pv.SKU,
    p.CategoryId,
    c.Name,
    pv.Price,
    CAST(p.Description AS NVARCHAR(MAX)),
    pv.IsActive,
    pv.StockStatus,
    pv.StockQuantity,
    pv.CreatedAt
GO
/****** Object:  View [dbo].[vw_RecienLlegados]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RecienLlegados]
AS
SELECT pv.Id AS VariantId, pv.SKU, pv.Name AS VariantName, pv.Price, pv.CompareAtPrice, pv.StockQuantity, pv.StockStatus, pv.IsDefault, p.Id AS ProductId, p.Name AS ProductName, p.Slug AS ProductSlug, p.ShortDescription, p.Description, c.Id AS CategoryId, c.Name AS CategoryName, 
             c.Slug AS CategorySlug, COALESCE
                 ((SELECT TOP (1) Url
                  FROM    dbo.ProductVariantImages
                  WHERE (VariantId = pv.Id) AND (IsPrimary = 1) AND (IsActive = 1)),
                 (SELECT TOP (1) Url
                 FROM    dbo.ProductImages
                 WHERE (ProductId = p.Id) AND (IsPrimary = 1) AND (IsActive = 1))) AS ImageUrl,
                 (SELECT TOP (1) COALESCE (av.ValueString, CAST(av.ValueInt AS VARCHAR), va.CustomValue) AS Expr1
                 FROM    dbo.VariantAttributes AS va LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON va.ValueId = av.Id
                 WHERE (va.VariantId = pv.Id) AND (va.AttributeId = 10) AND (va.IsActive = 1)) AS PesoNeto,
                 (SELECT TOP (1) COALESCE (av.ValueString, va.CustomValue) AS Expr1
                 FROM    dbo.VariantAttributes AS va LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON va.ValueId = av.Id
                 WHERE (va.VariantId = pv.Id) AND (va.AttributeId = 14) AND (va.IsActive = 1)) AS Tamano,
                 (SELECT TOP (1) COALESCE (av.ValueString, va.CustomValue) AS Expr1
                 FROM    dbo.VariantAttributes AS va LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON va.ValueId = av.Id
                 WHERE (va.VariantId = pv.Id) AND (va.AttributeId = 11) AND (va.IsActive = 1)) AS FormatoVenta,
                 (SELECT TOP (1) COALESCE (av.ValueString, pa.CustomValue) AS Expr1
                 FROM    dbo.ProductAttributes AS pa LEFT OUTER JOIN
                              dbo.AttributeValues AS av ON pa.ValueId = av.Id
                 WHERE (pa.ProductId = p.Id) AND (pa.AttributeId = 1) AND (pa.IsActive = 1)) AS Marca, CASE WHEN pv.CompareAtPrice IS NOT NULL AND pv.CompareAtPrice > pv.Price THEN 1 ELSE 0 END AS TieneDescuento, CASE WHEN pv.CompareAtPrice IS NOT NULL AND 
             pv.CompareAtPrice > pv.Price THEN CAST(ROUND(((pv.CompareAtPrice - pv.Price) / pv.CompareAtPrice) * 100, 0) AS INT) ELSE 0 END AS PorcentajeDescuento, CASE WHEN pv.StockQuantity > 20 THEN 'Disponible' WHEN pv.StockQuantity > 0 AND 
             pv.StockQuantity <= 20 THEN 'Stock Limitado' ELSE 'Sin Stock' END AS DisponibilidadTexto, DATEDIFF(DAY, pv.CreatedAt, GETDATE()) AS DiasDesdeCreacion, pv.CreatedAt AS FechaCreacion, FORMAT(pv.CreatedAt, 'dd/MM/yyyy') AS FechaCreacionFormatted, pv.UpdatedAt
FROM   dbo.ProductVariants AS pv INNER JOIN
             dbo.Products AS p ON pv.ProductId = p.Id INNER JOIN
             dbo.Categories AS c ON p.CategoryId = c.Id
WHERE (pv.IsDefault = 1) AND (pv.StockQuantity > 0) AND (pv.StockStatus IN ('in_stock', 'low_stock')) AND (pv.CreatedAt >= DATEADD(DAY, - 30, GETDATE())) AND (pv.IsActive = 1) AND (pv.DeletedAt IS NULL) AND (p.IsActive = 1) AND (p.DeletedAt IS NULL) AND (c.IsActive = 1) AND 
             (c.DeletedAt IS NULL)
GO
/****** Object:  View [dbo].[vw_ProductsWithVariants]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductsWithVariants] AS
SELECT 
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.Slug AS ProductSlug,
    p.ShortDescription,
    c.Name AS CategoryName,
    pv.Id AS VariantId,
    pv.SKU,
    pv.Name AS VariantName,
    pv.Price,
    pv.CompareAtPrice,
    pv.StockQuantity,
    pv.StockStatus,
    pv.IsDefault,
    pv.IsActive AS VariantActive
FROM Products p
INNER JOIN Categories c ON p.CategoryId = c.Id
LEFT JOIN ProductVariants pv ON p.Id = pv.ProductId
WHERE p.IsActive = 1 AND p.DeletedAt IS NULL
GO
/****** Object:  View [dbo].[vw_ProductAttributes]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductAttributes] AS
SELECT 
    p.Id AS ProductId,
    p.Name AS ProductName,
    ma.Name AS AttributeName,
    ma.Slug AS AttributeSlug,
    ma.AppliesTo,
    COALESCE(av.ValueString, pa.CustomValue) AS AttributeValue,
    ma.Unit
FROM Products p
INNER JOIN ProductAttributes pa ON p.Id = pa.ProductId
INNER JOIN MasterAttributes ma ON pa.AttributeId = ma.Id
LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
WHERE p.IsActive = 1 AND pa.IsActive = 1
GO
/****** Object:  View [dbo].[vw_VariantAttributes]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VariantAttributes] AS
SELECT 
    pv.Id AS VariantId,
    pv.ProductId,
    p.Name AS ProductName,
    pv.SKU,
    pv.Name AS VariantName,
    ma.Name AS AttributeName,
    ma.Slug AS AttributeSlug,
    COALESCE(av.ValueString, va.CustomValue) AS AttributeValue,
    ma.Unit
FROM ProductVariants pv
INNER JOIN Products p ON pv.ProductId = p.Id
INNER JOIN VariantAttributes va ON pv.Id = va.VariantId
INNER JOIN MasterAttributes ma ON va.AttributeId = ma.Id
LEFT JOIN AttributeValues av ON va.ValueId = av.Id
WHERE pv.IsActive = 1 AND va.IsActive = 1
GO
/****** Object:  View [dbo].[vw_ProductFullDetails]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductFullDetails] AS
SELECT 
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.Slug,
    p.Description,
    p.ShortDescription,
    c.Name AS CategoryName,
    pv.Id AS VariantId,
    pv.SKU,
    pv.Name AS VariantName,
    pv.Price,
    pv.CompareAtPrice,
    pv.StockQuantity,
    pv.StockStatus,
    pv.IsDefault,
    pi.Url AS MainImageUrl,
    pvi.Url AS VariantImageUrl
FROM Products p
INNER JOIN Categories c ON p.CategoryId = c.Id
LEFT JOIN ProductVariants pv ON p.Id = pv.ProductId
LEFT JOIN ProductImages pi ON p.Id = pi.ProductId AND pi.IsPrimary = 1
LEFT JOIN ProductVariantImages pvi ON pv.Id = pvi.VariantId AND pvi.IsPrimary = 1
WHERE p.IsActive = 1 AND p.DeletedAt IS NULL
GO
/****** Object:  View [dbo].[vw_Products]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Products] AS
SELECT 
    -- Información del Producto
    p.Id AS ProductId,
    p.Name AS ProductName,
    p.Slug,
    p.ShortDescription,
    p.Description,
    p.BasePrice,
    p.IsActive,
    p.CreatedAt,
    p.UpdatedAt,
    
    -- Categoría
    c.Id AS CategoryId,
    c.Name AS CategoryName,
    c.Slug AS CategorySlug,
    
    -- Imagen Principal del Producto
    (SELECT TOP 1 Url 
     FROM ProductImages 
     WHERE ProductId = p.Id AND IsPrimary = 1 AND IsActive = 1
    ) AS MainImageUrl,
    
    -- Conteo de Imágenes
    (SELECT COUNT(*) 
     FROM ProductImages 
     WHERE ProductId = p.Id AND IsActive = 1
    ) AS TotalImages,
    
    -- Variantes
    (SELECT COUNT(*) 
     FROM ProductVariants 
     WHERE ProductId = p.Id AND IsActive = 1
    ) AS TotalVariants,
    
    -- Stock Total
    ISNULL((
        SELECT SUM(StockQuantity) 
        FROM ProductVariants 
        WHERE ProductId = p.Id AND IsActive = 1
    ), 0) AS TotalStock,
    
    -- Precio Mínimo de Variantes
    (SELECT MIN(Price) 
     FROM ProductVariants 
     WHERE ProductId = p.Id AND IsActive = 1
    ) AS MinVariantPrice,
    
    -- Precio Máximo de Variantes
    (SELECT MAX(Price) 
     FROM ProductVariants 
     WHERE ProductId = p.Id AND IsActive = 1
    ) AS MaxVariantPrice,
    
    -- Stock Status
    CASE 
        WHEN (SELECT SUM(StockQuantity) FROM ProductVariants WHERE ProductId = p.Id AND IsActive = 1) = 0 
            THEN 'Sin Stock'
        WHEN (SELECT SUM(StockQuantity) FROM ProductVariants WHERE ProductId = p.Id AND IsActive = 1) <= 10 
            THEN 'Stock Bajo'
        ELSE 'En Stock'
    END AS StockStatus,
    
    -- Atributos principales
    STUFF((
        SELECT ', ' + ma.Name + ': ' + COALESCE(av.ValueString, pa.CustomValue)
        FROM ProductAttributes pa
        INNER JOIN MasterAttributes ma ON pa.AttributeId = ma.Id
        LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
        WHERE pa.ProductId = p.Id 
          AND pa.IsActive = 1
          AND ma.Id IN (1, 3)
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS MainAttributes,
    
    -- Marca
    (SELECT TOP 1 COALESCE(av.ValueString, pa.CustomValue)
     FROM ProductAttributes pa
     LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
     WHERE pa.ProductId = p.Id 
       AND pa.AttributeId = 1
       AND pa.IsActive = 1
    ) AS Brand,
    
    -- País de Origen
    (SELECT TOP 1 COALESCE(av.ValueString, pa.CustomValue)
     FROM ProductAttributes pa
     LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
     WHERE pa.ProductId = p.Id 
       AND pa.AttributeId = 3
       AND pa.IsActive = 1
    ) AS CountryOfOrigin,
    
    -- SKUs de variantes
    STUFF((
        SELECT TOP 3 ', ' + SKU
        FROM ProductVariants
        WHERE ProductId = p.Id AND IsActive = 1
        ORDER BY IsDefault DESC, Price ASC
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS VariantSKUs,
    
    -- Variante por defecto
    (SELECT TOP 1 pv.SKU
     FROM ProductVariants pv
     WHERE pv.ProductId = p.Id 
       AND pv.IsDefault = 1 
       AND pv.IsActive = 1
    ) AS DefaultSKU,
    
    -- 🔥 NUEVO: Indica si el producto tiene ventas
    CASE 
        WHEN EXISTS (
            SELECT 1
            FROM ProductVariants pv
            INNER JOIN OrderItems oi ON oi.VariantId = pv.Id
            WHERE pv.ProductId = p.Id
              AND oi.IsActive = 1
              AND oi.DeletedAt IS NULL
        ) THEN 1
        ELSE 0
    END AS HasSales,
    
    -- Estado
    CASE 
        WHEN p.IsActive = 1 THEN 'Activo'
        ELSE 'Inactivo'
    END AS Status,
    
    -- Fechas formateadas
    FORMAT(p.CreatedAt, 'dd/MM/yyyy HH:mm') AS CreatedAtFormatted,
    FORMAT(p.UpdatedAt, 'dd/MM/yyyy HH:mm') AS UpdatedAtFormatted

FROM Products p
INNER JOIN Categories c ON p.CategoryId = c.Id
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[TermsAccepted] [bit] NOT NULL,
	[PrivacyAccepted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Seccion] [nvarchar](255) NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[AltText] [nvarchar](255) NOT NULL,
	[Subtitulo] [nvarchar](255) NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[BotonTexto] [nvarchar](255) NOT NULL,
	[BotonEnlace] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__Banners__3214EC070F4E70EC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreAplicacion] [nvarchar](255) NOT NULL,
	[NombreEmpresa] [nvarchar](255) NULL,
	[AbreviacionEmpresa] [nvarchar](255) NULL,
	[Slogan] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[EmailContacto] [nvarchar](255) NULL,
	[TelefonoContacto] [nvarchar](50) NULL,
	[Whatsapp] [nvarchar](50) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[Pais] [nvarchar](100) NULL,
	[Logo] [nvarchar](255) NULL,
	[Favicon] [nvarchar](255) NULL,
	[BannerPrincipal] [nvarchar](255) NULL,
	[Facebook] [nvarchar](255) NULL,
	[Instagram] [nvarchar](255) NULL,
	[Twitter] [nvarchar](255) NULL,
	[Linkedin] [nvarchar](255) NULL,
	[Tiktok] [nvarchar](255) NULL,
	[Youtube] [nvarchar](255) NULL,
	[Moneda] [nvarchar](50) NOT NULL,
	[SimboloMoneda] [nvarchar](10) NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
	[ActivarCarrito] [bit] NOT NULL,
	[ActivarPagosOnline] [bit] NOT NULL,
	[MetaTitulo] [nvarchar](255) NULL,
	[MetaDescripcion] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaAutor] [nvarchar](255) NULL,
	[MetaRobots] [nvarchar](50) NULL,
	[MetaCanonical] [nvarchar](255) NULL,
	[MetaLanguage] [nvarchar](50) NULL,
	[MetaRevisitAfter] [nvarchar](50) NULL,
	[MetaNoindex] [bit] NOT NULL,
	[MetaNofollow] [bit] NOT NULL,
	[OgTitulo] [nvarchar](255) NULL,
	[OgDescripcion] [nvarchar](max) NULL,
	[OgImagen] [nvarchar](255) NULL,
	[OgUrl] [nvarchar](255) NULL,
	[OgTipo] [nvarchar](50) NULL,
	[OgSitename] [nvarchar](255) NULL,
	[TwitterCard] [nvarchar](50) NULL,
	[TwitterTitulo] [nvarchar](255) NULL,
	[TwitterDescripcion] [nvarchar](max) NULL,
	[TwitterImagen] [nvarchar](255) NULL,
	[TwitterSite] [nvarchar](255) NULL,
	[TwitterCreator] [nvarchar](255) NULL,
	[SchemaTipo] [nvarchar](50) NULL,
	[SchemaDatos] [nvarchar](max) NULL,
	[IncluirEnSitemap] [bit] NOT NULL,
	[UltimaModificacion] [datetime] NULL,
	[PrioridadSitemap] [int] NOT NULL,
	[Slug] [nvarchar](255) NULL,
	[MetaImagenPredeterminada] [nvarchar](255) NULL,
	[ColorTemaNavegador] [nvarchar](50) NULL,
	[MetaViewport] [nvarchar](255) NULL,
	[MetaCharset] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__Configur__3214EC07BE0C2C95] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[CodigoErrorLog] [int] IDENTITY(1,1) NOT NULL,
	[Mensaje] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Metodo] [nvarchar](max) NULL,
	[Usuario] [nvarchar](max) NULL,
	[Ruta] [nvarchar](max) NULL,
	[DatosExtra] [nvarchar](max) NULL,
	[CreateAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__ErrorLog__D6EEEB418569D92C] PRIMARY KEY CLUSTERED 
(
	[CodigoErrorLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPriceHistory]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPriceHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantId] [bigint] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CompareAtPrice] [decimal](10, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Reason] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductPriceHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[Image] [varchar](255) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__Servicio__3214EC0734E09EB7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'bb580c1e-d2ec-4015-a8eb-36bd89cb377f', N'Admin', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'244e44d8-0587-4967-b0ba-0636d900a449', N'bb580c1e-d2ec-4015-a8eb-36bd89cb377f')
GO
SET IDENTITY_INSERT [dbo].[AttributeValues] ON 

INSERT [dbo].[AttributeValues] ([Id], [AttributeId], [ValueString], [ValueText], [ValueDecimal], [ValueInt], [ValueBoolean], [ValueDate], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (141, 5, NULL, NULL, NULL, NULL, 1, NULL, 0, 1, CAST(N'2026-02-13T01:00:33.853' AS DateTime), CAST(N'2026-02-13T01:00:33.853' AS DateTime), NULL)
INSERT [dbo].[AttributeValues] ([Id], [AttributeId], [ValueString], [ValueText], [ValueDecimal], [ValueInt], [ValueBoolean], [ValueDate], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (142, 16, N'Firme', NULL, NULL, NULL, 0, NULL, 0, 1, CAST(N'2026-02-13T01:00:34.230' AS DateTime), CAST(N'2026-02-13T01:00:34.230' AS DateTime), NULL)
INSERT [dbo].[AttributeValues] ([Id], [AttributeId], [ValueString], [ValueText], [ValueDecimal], [ValueInt], [ValueBoolean], [ValueDate], [DisplayOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (143, 3, N'Chile', NULL, NULL, NULL, 0, NULL, 0, 1, CAST(N'2026-02-13T01:00:34.280' AS DateTime), CAST(N'2026-02-13T01:00:34.280' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AttributeValues] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [Seccion], [Image], [AltText], [Subtitulo], [Titulo], [BotonTexto], [BotonEnlace], [IsActive], [SortOrder], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'Home', N'/img/Banners/9b8cb5fe-1037-4a87-b525-fd65e604752b.webp', N'Productos', N'PRODUCTOS AQUÍ', N'Mira todos nuestros', N'Ver más', N'https://localhost:59571/Productos', 1, 1, CAST(N'2026-02-13T05:01:10.640' AS DateTime), CAST(N'2026-02-13T05:07:45.080' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Configuraciones] ON 

SET IDENTITY_INSERT [dbo].[Configuraciones] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterAttributes] ON 

INSERT [dbo].[MasterAttributes] ([Id], [Name], [Description], [Slug], [DataType], [InputType], [Unit], [IsRequired], [IsFilterable], [AppliesTo], [Category], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'Marca', N'Marca comercial del producto', N'marca', N'string', N'select', NULL, 0, 1, N'product', N'Identificación', 1, CAST(N'2026-01-04T03:07:44.690' AS DateTime), NULL, NULL)
INSERT [dbo].[MasterAttributes] ([Id], [Name], [Description], [Slug], [DataType], [InputType], [Unit], [IsRequired], [IsFilterable], [AppliesTo], [Category], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'Proveedor', N'Proveedor o fabricante', N'proveedor', N'string', N'text', NULL, 0, 0, N'product', N'Identificación', 1, CAST(N'2026-01-04T03:07:44.690' AS DateTime), NULL, NULL)
INSERT [dbo].[MasterAttributes] ([Id], [Name], [Description], [Slug], [DataType], [InputType], [Unit], [IsRequired], [IsFilterable], [AppliesTo], [Category], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'País de Origen', N'País de origen del producto', N'pais-origen', N'string', N'select', NULL, 0, 1, N'product', N'Origen', 1, CAST(N'2026-01-04T03:07:44.690' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MasterAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (29, 3, 5, 141, NULL, 1, CAST(N'2026-02-13T01:00:33.993' AS DateTime), CAST(N'2026-02-13T01:00:33.993' AS DateTime), NULL)
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (30, 3, 6, 141, NULL, 1, CAST(N'2026-02-13T01:00:34.100' AS DateTime), CAST(N'2026-02-13T01:00:34.100' AS DateTime), NULL)
INSERT [dbo].[ProductAttributes] ([Id], [ProductId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (31, 3, 19, 141, NULL, 1, CAST(N'2026-02-13T01:00:34.110' AS DateTime), CAST(N'2026-02-13T01:00:34.110' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [Url], [AltText], [IsPrimary], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (14, 3, N'/img/Productos/aceitunas-amargas/c9a0e2f9-0eeb-4bd7-b6a2-7d8e543525a5.webp', N'Aceitunas amargas', 1, 1, 1, CAST(N'2026-02-13T01:00:28.050' AS DateTime), CAST(N'2026-02-13T01:00:28.050' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPriceHistory] ON 

INSERT [dbo].[ProductPriceHistory] ([Id], [VariantId], [Price], [CompareAtPrice], [StartDate], [EndDate], [Reason], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (12, 5, CAST(2200.00 AS Decimal(10, 2)), NULL, CAST(N'2026-02-13T01:00:34.520' AS DateTime), NULL, N'Creación de la variante', 1, CAST(N'2026-02-13T01:00:34.520' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductPriceHistory] ([Id], [VariantId], [Price], [CompareAtPrice], [StartDate], [EndDate], [Reason], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (13, 6, CAST(4000.00 AS Decimal(10, 2)), NULL, CAST(N'2026-02-13T01:00:41.930' AS DateTime), NULL, N'Creación de la variante', 1, CAST(N'2026-02-13T01:00:41.930' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductPriceHistory] ([Id], [VariantId], [Price], [CompareAtPrice], [StartDate], [EndDate], [Reason], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (14, 7, CAST(7000.00 AS Decimal(10, 2)), NULL, CAST(N'2026-02-13T01:00:42.943' AS DateTime), NULL, N'Creación de la variante', 1, CAST(N'2026-02-13T01:00:42.943' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductPriceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Slug], [Description], [ShortDescription], [CategoryId], [BasePrice], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'Aceitunas amargas', N'aceitunas-amargas', N'Aceitunas amargas seleccionadas, de sabor intenso y tradicional, ideales para quienes prefieren un perfil más fuerte y auténtico. Perfectas para aperitivos, tablas y preparaciones caseras.', N'Aceitunas de sabor intenso y carácter tradicional.', 1, CAST(3233.33 AS Decimal(10, 2)), 1, CAST(N'2026-02-13T01:00:25.267' AS DateTime), CAST(N'2026-02-13T01:00:25.267' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantImages] ON 

INSERT [dbo].[ProductVariantImages] ([Id], [VariantId], [Url], [AltText], [IsPrimary], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (4, 5, N'/img/Productos/aceitunas-amargas/variante_5/bac77fe8-207f-4088-bf93-8a91956c0725.webp', N'Variante 5', 1, 1, 1, CAST(N'2026-02-13T01:00:35.437' AS DateTime), CAST(N'2026-02-13T01:00:35.437' AS DateTime), NULL)
INSERT [dbo].[ProductVariantImages] ([Id], [VariantId], [Url], [AltText], [IsPrimary], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (5, 6, N'/img/Productos/aceitunas-amargas/variante_6/f653699b-317f-4823-8755-b4a427079750.webp', N'Variante 6', 1, 1, 1, CAST(N'2026-02-13T01:00:42.620' AS DateTime), CAST(N'2026-02-13T01:00:42.620' AS DateTime), NULL)
INSERT [dbo].[ProductVariantImages] ([Id], [VariantId], [Url], [AltText], [IsPrimary], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (6, 7, N'/img/Productos/aceitunas-amargas/variante_7/e9862330-8864-4c31-841a-10f6141ccb7f.webp', N'Variante 7', 1, 1, 1, CAST(N'2026-02-13T01:00:43.757' AS DateTime), CAST(N'2026-02-13T01:00:43.757' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductVariantImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Name], [Price], [CompareAtPrice], [CostPrice], [StockQuantity], [ManageStock], [StockStatus], [IsDefault], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (5, 3, N'ACE-AMA-250G-GRA', N'Aceitunas amargas 250 g granel', CAST(2200.00 AS Decimal(10, 2)), NULL, CAST(1600.00 AS Decimal(10, 2)), 100, 1, N'in_stock', 1, 1, CAST(N'2026-02-13T01:00:34.360' AS DateTime), CAST(N'2026-02-13T01:00:34.360' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Name], [Price], [CompareAtPrice], [CostPrice], [StockQuantity], [ManageStock], [StockStatus], [IsDefault], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (6, 3, N'ACE-AMA-500G-GRA', N'Aceitunas amargas 500 g granel', CAST(4000.00 AS Decimal(10, 2)), NULL, CAST(2900.00 AS Decimal(10, 2)), 100, 1, N'in_stock', 0, 1, CAST(N'2026-02-13T01:00:41.907' AS DateTime), CAST(N'2026-02-13T01:00:41.907' AS DateTime), NULL)
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Name], [Price], [CompareAtPrice], [CostPrice], [StockQuantity], [ManageStock], [StockStatus], [IsDefault], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (7, 3, N'ACE-AMA-1KG-GRA', N'Aceitunas amargas 1 kg granel', CAST(7000.00 AS Decimal(10, 2)), NULL, CAST(5200.00 AS Decimal(10, 2)), 100, 1, N'in_stock', 0, 1, CAST(N'2026-02-13T01:00:42.920' AS DateTime), CAST(N'2026-02-13T01:00:42.920' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Name], [Description], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'DESPACHO GRATIS', N'Por compras desde $100.000 + IVA', N'/img/Servicios/01f523b1-bf5e-4562-a535-c5291c1d332b.webp', 1, 1, CAST(N'2026-01-03T22:40:06.133' AS DateTime), CAST(N'2026-01-03T22:40:06.133' AS DateTime), NULL)
INSERT [dbo].[Servicios] ([Id], [Name], [Description], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'PRODUCTOS DE CALIDAD', N'Con altos estándares de exigencia', N'/img/Servicios/f57f1ed6-a107-44b6-9f85-d5b8c2e060c9.webp', 2, 1, CAST(N'2026-01-03T22:40:35.870' AS DateTime), CAST(N'2026-01-03T22:40:35.870' AS DateTime), NULL)
INSERT [dbo].[Servicios] ([Id], [Name], [Description], [Image], [SortOrder], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'PAGO SEGURO', N'Aceptamos todas las tarjetas', N'/img/Servicios/3b5fea96-5b1c-40c6-b526-1a64d038913e.webp', 3, 1, CAST(N'2026-01-03T22:40:58.320' AS DateTime), CAST(N'2026-01-03T22:40:58.320' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[VariantAttributes] ON 

INSERT [dbo].[VariantAttributes] ([Id], [VariantId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (35, 5, 44, 146, NULL, 1, CAST(N'2026-02-13T01:00:41.643' AS DateTime), CAST(N'2026-02-13T01:00:41.643' AS DateTime), NULL)
INSERT [dbo].[VariantAttributes] ([Id], [VariantId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (36, 5, 10, 147, NULL, 1, CAST(N'2026-02-13T01:00:41.743' AS DateTime), CAST(N'2026-02-13T01:00:41.743' AS DateTime), NULL)
INSERT [dbo].[VariantAttributes] ([Id], [VariantId], [AttributeId], [ValueId], [CustomValue], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (37, 5, 14, 148, NULL, 1, CAST(N'2026-02-13T01:00:41.763' AS DateTime), CAST(N'2026-02-13T01:00:41.763' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[VariantAttributes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 14-02-2026 12:17:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 14-02-2026 12:17:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttributeValues_AttributeId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_AttributeValues_AttributeId] ON [dbo].[AttributeValues]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentId] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Slug]    Script Date: 14-02-2026 12:17:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Categories_Slug] ON [dbo].[Categories]
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MasterAttributes_Slug]    Script Date: 14-02-2026 12:17:29 ******/
ALTER TABLE [dbo].[MasterAttributes] ADD  CONSTRAINT [UQ_MasterAttributes_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_VariantId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_VariantId] ON [dbo].[OrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__CAC5E743A847117F]    Script Date: 14-02-2026 12:17:29 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ__Orders__CAC5E743A847117F] UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributes_AttributeId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributes_AttributeId] ON [dbo].[ProductAttributes]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributes_ProductId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributes_ProductId] ON [dbo].[ProductAttributes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributes_ProductId_AttributeId_IsActive]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductAttributes_ProductId_AttributeId_IsActive] ON [dbo].[ProductAttributes]
(
	[ProductId] ASC,
	[AttributeId] ASC,
	[IsActive] ASC
)
INCLUDE([ValueId],[CustomValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId_IsPrimary_IsActive]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId_IsPrimary_IsActive] ON [dbo].[ProductImages]
(
	[ProductId] ASC,
	[IsPrimary] ASC,
	[IsActive] ASC
)
INCLUDE([Url]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPriceHistory_VariantId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductPriceHistory_VariantId] ON [dbo].[ProductPriceHistory]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_Slug]    Script Date: 14-02-2026 12:17:29 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Products_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariantImages_VariantId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariantImages_VariantId] ON [dbo].[ProductVariantImages]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductVariants_SKU]    Script Date: 14-02-2026 12:17:29 ******/
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [UQ_ProductVariants_SKU] UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId] ON [dbo].[ProductVariants]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId_IsActive]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId_IsActive] ON [dbo].[ProductVariants]
(
	[ProductId] ASC,
	[IsActive] ASC
)
INCLUDE([StockQuantity],[Price],[SKU],[IsDefault]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VariantAttributes_AttributeId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_VariantAttributes_AttributeId] ON [dbo].[VariantAttributes]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VariantAttributes_VariantId]    Script Date: 14-02-2026 12:17:29 ******/
CREATE NONCLUSTERED INDEX [IX_VariantAttributes_VariantId] ON [dbo].[VariantAttributes]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttributeValues] ADD  DEFAULT ((0)) FOR [ValueBoolean]
GO
ALTER TABLE [dbo].[AttributeValues] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[AttributeValues] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttributeValues] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MasterAttributes] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[MasterAttributes] ADD  DEFAULT ((0)) FOR [IsFilterable]
GO
ALTER TABLE [dbo].[MasterAttributes] ADD  DEFAULT ('product') FOR [AppliesTo]
GO
ALTER TABLE [dbo].[MasterAttributes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MasterAttributes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'CLP') FOR [Currency]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductPriceHistory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductPriceHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariantImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductVariantImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductVariantImages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariantImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [ManageStock]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('in_stock') FOR [StockStatus]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VariantAttributes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VariantAttributes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_AttributeValues_MasterAttributes] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[MasterAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeValues] CHECK CONSTRAINT [FK_AttributeValues_MasterAttributes]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Variants_VariantId] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Variants_VariantId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_AttributeValues] FOREIGN KEY([ValueId])
REFERENCES [dbo].[AttributeValues] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_AttributeValues]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_MasterAttributes] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[MasterAttributes] ([Id])
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_MasterAttributes]
GO
ALTER TABLE [dbo].[ProductAttributes]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributes] CHECK CONSTRAINT [FK_ProductAttributes_Products]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductPriceHistory_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPriceHistory] CHECK CONSTRAINT [FK_ProductPriceHistory_Variants]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductVariantImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariantImages_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariantImages] CHECK CONSTRAINT [FK_ProductVariantImages_Variants]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[VariantAttributes]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributes_AttributeValues] FOREIGN KEY([ValueId])
REFERENCES [dbo].[AttributeValues] ([Id])
GO
ALTER TABLE [dbo].[VariantAttributes] CHECK CONSTRAINT [FK_VariantAttributes_AttributeValues]
GO
ALTER TABLE [dbo].[VariantAttributes]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributes_MasterAttributes] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[MasterAttributes] ([Id])
GO
ALTER TABLE [dbo].[VariantAttributes] CHECK CONSTRAINT [FK_VariantAttributes_MasterAttributes]
GO
ALTER TABLE [dbo].[VariantAttributes]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributes_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantAttributes] CHECK CONSTRAINT [FK_VariantAttributes_Variants]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductDetails]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductDetails]
    @ProductId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Información básica del producto
    SELECT 
        p.Id,
        p.Name,
        p.Slug,
        p.Description,
        p.ShortDescription,
        p.CategoryId,
        c.Name AS CategoryName,
        p.BasePrice,
        p.IsActive,
        p.CreatedAt
    FROM Products p
    INNER JOIN Categories c ON p.CategoryId = c.Id
    WHERE p.Id = @ProductId AND p.IsActive = 1

    -- Atributos del producto
    SELECT 
        ma.Id AS AttributeId,
        ma.Name AS AttributeName,
        ma.Slug,
        COALESCE(av.ValueString, pa.CustomValue) AS Value,
        ma.Unit,
        ma.Category
    FROM ProductAttributes pa
    INNER JOIN MasterAttributes ma ON pa.AttributeId = ma.Id
    LEFT JOIN AttributeValues av ON pa.ValueId = av.Id
    WHERE pa.ProductId = @ProductId AND pa.IsActive = 1

    -- Variantes
    SELECT 
        pv.Id AS VariantId,
        pv.SKU,
        pv.Name AS VariantName,
        pv.Price,
        pv.CompareAtPrice,
        pv.StockQuantity,
        pv.StockStatus,
        pv.IsDefault,
        pv.IsActive
    FROM ProductVariants pv
    WHERE pv.ProductId = @ProductId AND pv.IsActive = 1
    ORDER BY pv.IsDefault DESC, pv.Price ASC

    -- Atributos de variantes
    SELECT 
        va.VariantId,
        ma.Id AS AttributeId,
        ma.Name AS AttributeName,
        ma.Slug,
        COALESCE(av.ValueString, va.CustomValue) AS Value,
        ma.Unit
    FROM VariantAttributes va
    INNER JOIN MasterAttributes ma ON va.AttributeId = ma.Id
    LEFT JOIN AttributeValues av ON va.ValueId = av.Id
    WHERE va.VariantId IN (
        SELECT Id FROM ProductVariants WHERE ProductId = @ProductId AND IsActive = 1
    ) AND va.IsActive = 1

    -- Imágenes del producto
    SELECT 
        Id,
        Url,
        AltText,
        IsPrimary,
        [SortOrder]
    FROM ProductImages
    WHERE ProductId = @ProductId AND IsActive = 1
    ORDER BY IsPrimary DESC, [SortOrder] ASC

    -- Imágenes de variantes
    SELECT 
        pvi.VariantId,
        pvi.Id,
        pvi.Url,
        pvi.AltText,
        pvi.IsPrimary,
        pvi.[SortOrder]
    FROM ProductVariantImages pvi
    WHERE pvi.VariantId IN (
        SELECT Id FROM ProductVariants WHERE ProductId = @ProductId AND IsActive = 1
    ) AND pvi.IsActive = 1
    ORDER BY pvi.VariantId, pvi.IsPrimary DESC, pvi.[SortOrder] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVariantStock]    Script Date: 14-02-2026 12:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateVariantStock]
    @VariantId BIGINT,
    @Quantity INT,
    @Operation VARCHAR(10) -- 'ADD' o 'SUBTRACT'
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION
    
    BEGIN TRY
        IF @Operation = 'ADD'
        BEGIN
            UPDATE ProductVariants
            SET StockQuantity = StockQuantity + @Quantity,
                UpdatedAt = GETDATE()
            WHERE Id = @VariantId
        END
        ELSE IF @Operation = 'SUBTRACT'
        BEGIN
            UPDATE ProductVariants
            SET StockQuantity = CASE 
                WHEN StockQuantity - @Quantity < 0 THEN 0 
                ELSE StockQuantity - @Quantity 
            END,
            UpdatedAt = GETDATE()
            WHERE Id = @VariantId
        END

        -- Actualizar estado del stock
        UPDATE ProductVariants
        SET StockStatus = CASE 
            WHEN StockQuantity = 0 THEN 'out_of_stock'
            WHEN StockQuantity <= 5 THEN 'low_stock'
            ELSE 'in_stock'
        END
        WHERE Id = @VariantId

        COMMIT TRANSACTION
        
        SELECT 
            Id,
            SKU,
            StockQuantity,
            StockStatus
        FROM ProductVariants
        WHERE Id = @VariantId
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ProductStarMetrics'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ProductStarMetrics'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "pv"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 9
               Left = 346
               Bottom = 206
               Right = 583
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 9
               Left = 640
               Bottom = 206
               Right = 877
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_RecienLlegados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_RecienLlegados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "pv"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 9
               Left = 346
               Bottom = 206
               Right = 583
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 9
               Left = 640
               Bottom = 206
               Right = 877
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_VariantesEnOferta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_VariantesEnOferta'
GO
USE [master]
GO
